
{{#partial "body"}}
    <div>
        {{#if (eq userType "USER_ROLE")}}
            <br>
            <button class="btn btn-primary" onclick="location.href='/api/v1/customer/requestNewAccount'">Request New
                Account
            </button>
            <br>
        {{/if}}
        <br>
        <table id="results" width="100%">
            <thead>
            <tr>
                <th align="center">Account Number</th>
                <th align="center">Account Type</th>
                <th align="center">Account Balance</th>
                <th align="center">Delete Account</th>
            </tr>
            </thead>
            <tbody>
            {{#each result }}
                <form method="POST">
                    <tr>
                        <td align="center">{{ id }}</td>
                        <td align="center">{{ accountType }}</td>
                        <td align="center">{{ accountBalance }}</td>
                        <td align="center">
                            <input id="modify" class="btn btn-primary"  type="button" name="modify" onclick="location.href='/api/v1/customer/modify/{{ id }}'" value="Modify"/>
                        </td>
                    </tr>
                </form>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}

{{#block "scripts"}}
{{/block}}

{{> extUserBase}}